server=1
daemon=1
rpctimeout=5
rpcallowip=127.0.0.1
rpcssl=0
allowreceivebyip=0


# YOU MUST CHANGE IT
blocknotify=/usr/bin/php /usr/share/nginx/core.bitcoin.income/app/blocknotify.php %s
walletnotify=/usr/bin/php /usr/share/nginx/core.bitcoin.income/app/transactionnotify.php %s
rpcuser=ZndhLvM9DFk90S
rpcpassword=dvCKpSKold000l
rpcport=29723
